/* SideNavbar.css */
.side-navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 200px;
  background-color: #333;
  color: white;
  margin: 0;
  left: 0;
  top: 0;
  position: fixed;
  transition: width 0.3s; /* Add a transition for smoother resizing */
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20px;
  text-align: center; /* Center text for user details */
}

.user-details {
  text-align: center;
}

.user-name {
  font-size: 18px;
}

.user-email {
  font-size: 14px;
}

.nav-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 20px;
  row-gap: 70px;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.side-navbar svg {
  font-size: 24px;
}

.logout {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 30px;
  cursor: pointer;
}

/* Media query for screens with a maximum width of 720px */
@media (max-width: 720px) {
  .side-navbar {
    width: 100%; 
  }

  .nav-items {
    row-gap: 20px; 
  }
}
